body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    color: #fff;
    text-align: center;
  }
  
  #insert {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 25px;
  }
  
  #insert p {
    font-size: 32px;
    margin: 0 0 20px 0;
  }
  
  .box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .box span {
    font-size: 25px;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffcc00;
    font-size: 24px;
  }
  